dir/pkgs/Wadl/DipartHR-AddfiletoSharePoint%28Educations%29.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="DipartHR-AddfiletoSharePoint(Educations)" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Dipart HR - Add file to SharePoint (Educations)" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_InitializevarUserID_Value_def" />
      <string name="ManualTriggerInput_InitializevarName_Value_def" />
      <string name="ManualTriggerInput_Initializevarfile2_Value_def" />
      <string name="ManualTriggerInput_InitializevarBase64_Value_def" />
      <string name="ManualTriggerInput_InitializevarEducationCompletedID_Value_def" />
      <string name="ManualTriggerInput_Initializevariable_Value_def" />
      <string name="ManualTriggerInput_Initializevariable-varEducationName_Value_def" />
      <object name="ManualTriggerInput">
        <property name="InitializevarUserID_Value" type="string" />
        <property name="InitializevarName_Value" type="string" />
        <property name="Initializevarfile2_Value" type="string" />
        <property name="InitializevarBase64_Value" type="string" />
        <property name="InitializevarEducationCompletedID_Value" type="string" />
        <property name="Initializevariable_Value" type="string" />
        <property name="Initializevariable-varEducationName_Value" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="InitializevarUserID_Value" path="/InitializevarUserID_Value" type="xs:string" required="true" />
            <param style="plain" name="InitializevarName_Value" path="/InitializevarName_Value" type="xs:string" required="true" />
            <param style="plain" name="Initializevarfile2_Value" path="/Initializevarfile2_Value" type="xs:string" required="true" />
            <param style="plain" name="InitializevarBase64_Value" path="/InitializevarBase64_Value" type="xs:string" required="true" />
            <param style="plain" name="InitializevarEducationCompletedID_Value" path="/InitializevarEducationCompletedID_Value" type="xs:string" required="true" />
            <param style="plain" name="Initializevariable_Value" path="/Initializevariable_Value" type="xs:string" required="true" />
            <param style="plain" name="Initializevariable-varEducationName_Value" path="/Initializevariable-varEducationName_Value" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>