dir/pkgs/Wadl/Sendorderingemailtobestallning.se.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Sendorderingemailtobestallning.se" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Send ordering email to bestallning.se" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_GetarowbyID_RowID_def" />
      <string name="ManualTriggerInput_Sendconfirmationemail_Body_def" />
      <string name="ManualTriggerInput_VarComputer_Value_def" />
      <string name="ManualTriggerInput_Sendconfirmationemail_To_def" />
      <string name="ManualTriggerInput_Sendconfirmationemail_To_1_def" />
      <object name="ManualTriggerInput">
        <property name="GetarowbyID_RowID" type="string" />
        <property name="Sendconfirmationemail_Body" type="string" />
        <property name="VarComputer_Value" type="string" />
        <property name="Sendconfirmationemail_To" type="string" />
        <property name="Sendconfirmationemail_To_1" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="GetarowbyID_RowID" path="/GetarowbyID_RowID" type="xs:string" required="true" />
            <param style="plain" name="Sendconfirmationemail_Body" path="/Sendconfirmationemail_Body" type="xs:string" required="true" />
            <param style="plain" name="VarComputer_Value" path="/VarComputer_Value" type="xs:string" required="true" />
            <param style="plain" name="Sendconfirmationemail_To" path="/Sendconfirmationemail_To" type="xs:string" required="true" />
            <param style="plain" name="Sendconfirmationemail_To_1" path="/Sendconfirmationemail_To_1" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>